@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "bold";
	src: url("./assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
	font-family: "medium";
	src: url("./assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
	font-family: "regular";
	src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

.nav {
	background-image: url(../src/assets/images/bg-sidebar-desktop.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}